mixin place
  .place
    a(href= path.root+menu.primary.place.url)
      h4= place.name
      p 25 destinations

mixin place-price
  .place
    a(href= path.root+menu.primary.place.url)
      h4= place.name
      p= offer.price
