mixin place
  a(href= path.root+menu.primary.place.url)
    figure.place
      picture.place__thumb
        source(srcset= path.images.covers.place+place.image+"_thumb.webp" type="image/webp")
        source(srcset= path.images.covers.place+place.image+"_thumb.jpg" type="image/jpeg")
        img(src= path.images.covers.country+place.image+"_thumb.jpg" alt= place.name)
      figcaption
        .place__title= place.name
        .place__details 25 destinations

mixin place-price
  .place
    a(href= path.root+menu.primary.place.url)
      .place__title= place.name
      .place__details= offer.price
