mixin search-full
  .search-full
    label Pickup
      input(placeholder="Airport, place or address...")
    button ⇄
    label Dropoff
      input(placeholder="Airport, place or address...")
    button.btn-primary Get rates
