//
// Global
//========================================

*
  box-sizing: border-box

body
  font-family: $font-text
  font-size: $font-size

h1,
h2,
h3
  font-family: $font-display
  font-weight: lighter
  display: flex

img
  width: 100%

figure
  margin: 0
