//
// Global
//========================================

:root
  *
    box-sizing: border-box

body
  font-family: $font-text
  font-size: $font-size

// Headers
h1,
h2,
h3
  font-family: $font-display
  font-weight: lighter

  display: flex

// Images
img
  width: 100%
