//
// Global
//========================================

*
  box-sizing: border-box

body
  +theme
  +font
  +zero

button
  +button

a
  +transition
  color: $blue
  text-decoration: none

  &:hover
    text-decoration: underline

h1,
h2,
h3
  +vmargin(2,1)

  font-family: $font-display
  font-weight: lighter

img
  +zero
  width: 100%
  vertical-align: top

figure
  +zero

  figcaption
    +vmargin
    +fine-print
    +align(center)

main
  +container
  +gutter

ul
  +zero

p
  +vmargin
