-var sitemap = {'home': {'path': '/','title': 'Home'},'country': {'path': 'country','title': 'Country'},'route': {'path': 'route','title': 'Route'},'location': {'path': 'location','title': 'Location'}}

-var path = {'root': '/', 'images': '/assets/images/','styles': '/assets/styles/','scripts': '/assets/scripts/'}

-var page = {'home':{'title': 'Kiwitaxi', 'subtitle': 'Taxi transfers from airports and cities Book online wherever you are', 'section': {'tariffs': 'Transfer tariffs avialable'}}, 'location': {'title': 'Location', 'subtitle': 'Taxi transfers from airports and cities Book online wherever you are', 'section': {'tariffs': 'Transfer tariffs avialable'}}}

- var menu = {'home': {'label': 'Kiwitaxi', 'url': '/'}, 'route': {'label': 'Route', 'url': '/route/'}, 'location': {'label': 'Location', 'url': '/location/'}, 'country': {'label': 'country', 'url': '/location/'}}

-var tariff = {'name': 'shuttle', 'title': 'Shuttle bus', 'vehicles': ['Higer bus', 'Iveco', 'Mercedes', 'Ford', 'Volvo shuttle bus'], 'summary': {'en': 'A seat in the tourist bus to the hotel or airport.', 'ru': 'Место в туристическом автобусе до отеля или в аэропорт.'}, 'description': {'en': 'The cheapest way to go is booking a bus. Thus you will come to your destination with maximum luxury. During the day it’s the most appropriate way of transport. Our shuttle buses meet tourists at the appointed location and transport them to the hotel doors.', 'ru': 'На автобусе из аэропорта вы сможете взять большое количество багажа, странствовать двумя или даже четырьмя семьями. Если вы собираетесь в приключение один – автобус получится экономичным, так как Вам не придется платить за незанятые билеты как на коммерческом автомобиле.'}, 'parameters': {'pax': 1, 'bags': 2, 'delay': 40}, 'price': 25}

-var btnCheckout = {'en': 'Book transfer', 'ru': 'Заказать трансфер'}

-var testimonial = {'author': 'Maksim Lebedkin', 'content': 'Met a nice girl driver. Ordered economy but came to swell the 7-seater Toyota with leather interior. The driver was careful.', 'score': 5, 'transfer': {'date': '12.12.2016', 'from': 'Bangkok Suvarnabhumi Airport', 'to': 'Bangkok Don Mueang Airport', 'class': 'Shuttle'}}
