block data
  include _data

doctype
html(lang='en')

  head
    include base/head

    title
      block title
        |Title
  body
    nav
      block nav
        include base/nav

    header
      block header
        include base/header

    main
      block breadcrumb
        include base/breadcrumb

      block main
        include base/main

    footer
      block footer
        include base/footer
