doctype
html(lang='en')

  head
    include _head
    title
      block title
        |Title
  body

    include _vars

    block navbar
      include _navbar

    block header
      include _header

    block container
      include _container

    block footer
      include _footer
