//
// Typography
//========================================

// Mixins

=font ($size: $size, $family: $font-text)
  font-family: $family
  font-size: $size
  line-height: $size*1.25

=fine-print($size: $size/2, $color: $base-light)
  font-size: $size
  color: $color
