extends layouts/base

block title
  |Home title

block heading
  h1 Taxi transfers from airports and cities
  p.lead Book online wherever you are from from

block content
  section
    h2 Transfers title
    .grid
      - var n = 0
      while n < 6
        .card
          include blocks/offer
            - n++
