extends layouts/_base

block title
  = place.title

block heading
  h1= place.title

block main
  .container
    .grid
      - var n = 0
      while n < 4
        .card
          +offer-small
          - n++

block secondary
  .container
    .grid
      - var n = 0
      while n < 4
        .card
          +activity
          - n++

block seo
  |SEO
