extends layouts/_base

block title
  = place.title

block heading
  h1= place.title

block append search
  .grid.tight
    - var n = 0
    while n < 6
      .card.is-clickable
        +offer-small
        - n++

block main
  h2= place.activity.title
  .grid.comfort
    - var n = 0
    while n < 6
      .card.is-clickable
        +place
        - n++

block secondary
  h3= place.activity.title
  .grid.comfort
    - var n = 0
    while n < 3
      .card.gray
        +activity
        - n++

block seo
  +seo(place.seo.title, place.seo.content)
