extends layouts/base

block title
  |Order title

block heading
  h1 Order content

block content
  section
    h2 Transfers title
    p
      |Duration 2h
      span
        a Show the return transfer
      span
        a Conditions

    .grid
      - var n = 0
        while n < 4
          .column
            .card
              include components/offer
              - n++
  section
    h3 Customer reviews of Kiwitaxi
    .grid
      - var n = 0
        while n < 3
          .column
            .card
              include components/review
              - n++

  section
    h3 Transfers from location
    .grid
      - var n = 0
        while n < 6
          .column
            .card
              include components/place
              - n++
