//
// Breakpoints
//========================================

// Desktop
@custom-media --desktop (width >= 90em)
  @content

// Laptop
@custom-media --laptop (width <= 60em)
  @content

// Tablet
@custom-media --tablet (width <= 40em)
  @content

// Smartphone
@custom-media --mobile (width <= 30em)
  @content
