//
// Buttons
//========================================

@function label-color($color)
  @if (lightness($color) < 53%)
    @return $white
  @else
    @return $base

=button ($color: $base-subtle, $size: $font-size)
  +border
  +radius($size/4)
  +font-text
  +gradient($color)
  +transition
  color: label-color($color)
  cursor: pointer
  font-size: $size
  padding: $size/2 $size

  &:active
    +shadow(inset, $size, $black)

  &:hover,
  &:focus
    +gradient(lighten($color, 5%))

  &:focus
    outline: 0
