//
// Effects
//========================================

// Shadows
@define-mixin shadow $size, $color
  box-shadow: 0 calc($size/2) $size $color
  
// Corners
@define-mixin radius $radius
  border-radius: $radius
