extends layouts/base

block title
  = page.home.title

block header
  section.hero
    .offset
      h1= page.home.title
      p.lead= page.home.subtitle

    .offset
      include components/search

block main
  section.offset
    h2= page.home.section.tariffs
    .grid
      - var n = 0
        while n < 6
          .column
            .card
              include components/tariff
              - n++
