doctype
html(lang='en')
  head
    title
      block title
        |Title
    include _head-meta
    include _head-links
  body
    block header
      header
        |Header

    block main
      main
        |Content

    block footer
      footer
        |Footer
