.navbar
  .navbar_logo
    a(href= path.root)
      img(src= path.images.root+"kiwitaxi_logo_light.svg" alt="KiwiTaxi")

  ul.navbar_menu
    each item in menu.primary
      li: a(href= path.root+item.url)= item.label
