.search-full
  form
    label Pick-up
      input(placeholder="Airport, place or address...")
    button.btn-ghost ⇄
    label Drop-off
      input(placeholder="Airport, place or address...")
    label Passengers
      input(placeholder="1")
    button.btn-green Get quote
