-var sitemap = {'home': {'path': '/','title': 'Home'},'country': {'path': 'country','title': 'Country'},'route': {'path': 'route','title': 'Route'},'location': {'path': 'location','title': 'Location'}}

-var path = {'root': '/', 'images': '/assets/images/','styles': '/assets/styles/','scripts': '/assets/scripts/'}

-var page = {'home':{'title': 'Kiwitaxi', 'subtitle': 'Taxi transfers from airports and cities Book online wherever you are', 'section': {'tariffs': 'Transfer tariffs avialable'}}, 'location': {'title': 'Location', 'subtitle': 'Taxi transfers from airports and cities Book online wherever you are', 'section': {'tariffs': 'Transfer tariffs avialable'}}}

- var menu = {'home': {'label': 'Kiwitaxi', 'url': '/'}, 'route': {'label': 'Route', 'url': '/route/'}, 'location': {'label': 'Location', 'url': '/location/'}, 'country': {'label': 'country', 'url': '/location/'}}

-var tariff = {'name': 'shuttle', 'title': 'Shuttle bus', 'vehicles': ['Higer bus', 'Iveco', 'Mercedes', 'Ford', 'Volvo shuttle bus'], 'summary': {'en': 'A seat in the tourist bus to the hotel or airport.', 'ru': 'Место в туристическом автобусе до отеля или в аэропорт.'}, 'description': {'en': 'The cheapest way to go is booking a bus. Thus you will come to your destination with maximum luxury. During the day it’s the most appropriate way of transport. Our shuttle buses meet tourists at the appointed location and transport them to the hotel doors.', 'ru': 'На автобусе из аэропорта вы сможете взять большое количество багажа, странствовать двумя или даже четырьмя семьями. Если вы собираетесь в приключение один – автобус получится экономичным, так как Вам не придется платить за незанятые билеты как на коммерческом автомобиле.'}, 'parameters': {'pax': 1, 'bags': 2, 'delay': 40}, 'price': 25}

-var btnCheckout = {'en': 'Book transfer', 'ru': 'Заказать трансфер'}

-var testimonial = {'author': 'Maksim Lebedkin', 'content': 'Met a nice girl driver. Ordered economy but came to swell the 7-seater Toyota with leather interior. The driver was careful.', 'score': 5, 'transfer': {'date': '12.12.2016', 'from': 'Bangkok Suvarnabhumi Airport', 'to': 'Bangkok Don Mueang Airport', 'class': 'Shuttle'}}


//- /* Updated variables*/


-var country = {'name': 'Czech Republic','image': 'czech-republic','seo':{'title': 'Transfer in Czech Republic','body': 'If you are planning to visit Czech Republic, but you haven’t decided yet what transport to choose to get to the airport quickly, welcome to our website: www.kiwitaxi.com! You can book a taxi in Czech Republic with a few clicks, without taking care of looking for a car at the airport, exchanging money to pay for your trip. Moreover, the price includes meeting at the airport, our driver will meet you even if there will be a flight delay. Although, we will be very grateful if you inform us in case of your late arrival.'}}

-var place = {'name': 'Prague Central train station','image': 'prague-central-train-station','type': 'train station','code': 'XYG','city': 'Prague','address': 'Wilsonova 8, 110 00 Praha 2, Czech Republic','seo': {'title': 'Individual Transfer in Prague Central train station','body': 'Prague Central train station Is active throughout the year. In spite of city transport in Prague Central train station, often you need use private shuttle with well organized system. You will leave behind all transfer diffculties in Prague Central train station with our website. When you arrive to Prague Central train station, if you had ordered taxi transfer, your car will be there and a chauffeur will be meeting you, no matter wherever you want to go to or come from in Prague Central train station.'}}

-var route = {'duration': 2,'distance': 50,'seo': {'title': 'Taxi transfer from Prague Central train station to Dresden Central train station','body': 'Questing taxi transfer online from Prague Central train station to Dresden Central train station is really modern at KiwiTaxi. com.In many cases taxi is often the most juicy and favorable type of transport, that gives you the guarantee of delivery and comfort. Dresden Central train station is really nice place and if you can use private taxi transfer to Dresden Central train station you will enjoy many really perfect scenes.'}}

-var vehicle = {'name': 'Premium','image': 'premium','details': '','vehicles': ['Mercedes S-class', 'BMW 7 Series', 'Audi A7', 'Lexus GX'],'delay': 0,'capacity': {'pax': 3,'bags': 3},'seo': {'title': 'Private individual Transfer on Kiwitaxi.com','body': 'Kiwitaxi is an international airport transfers booking service. We perform transfers in all the most popular countries in the world. Most of the transfers can be booked online. All special routes can be requested through transfer request form on the website. We have provided our service to more than 100 thousand of tourists and have gained considerable experience in private transfers.'}}

-var option = {'name': 'Order child seats','price': 4,'icon': 'child-seats'}

-var offer = {'price': 120,'discount': 10,'return': false,'conditions': {'general': {'title': 'Transfer to hotel','details': 'The transfer means a trip to any hotel or address within the location limits. You can specify the exact address or hotel name proceeding with the booking.'},'capacity': {'title': 'Passengers and luggage','details': 'Each vehicle class is provided with the information about maximim passenger and luggage capacity. Children are also considered passengers, childseats should be booked and paid separately. Transfer cost.The price is given per vehicle of certain class, it doesn’t depend on the number of passengers, transfer date or address within the location limits.'},'booking': {'title': 'Transfer booking','details': 'If you want to book a taxi, you should specify exact place, date and time of transfer, your contact details and make a prepayment. As soon as you do it, your car is booked and the driver will meet you.'},'meeting': {'title': 'Meeting with driver','details': 'At the appointed time and place, our driver will pick you up. He will be with your name sign. If necessary, he will call you or text you. You will also have his phone number.'},'payment': {'title': 'Booking payment','details': 'You can pay a certain amount (about 15%) during the booking process. The rest you should pay in cash to the driver upon the arrival to the drop-off point.'}}}

-var client = {'name': 'Sergey Popov','contact':{'phone':{'code': '+7','number': '960-485-4437'},'email': 'serg@gmail.com'}}

-var pickup = {'type': 'Train number','reference': 'FD 3011','date': '24.12.2016','time': '15:30'}

-var order = {'pax': 3,'comment': 'Please do not send me a smoking driver. Thank you.','meta':{'date': '16.12.2016','time': '22:15'}}

-var feedback = {'score': 5,'comment': 'I liked it very much, the driver arrived on time and helped with the luggage. Everything was fine, thank you! I will use your service and recommend it to my friends.'}
