extends layouts/base

block vars
  -var page = {'title': 'Kiwitaxi components'}

block title
  = page.title

block header
  h1.offset= page.title

block main
  section.grid
    - var n = 0
    while n < 4
      .grid_column
        .card
          include components/tariff
          - n++
