extends layouts/base

block title
  |Заголовок страницы

block container

  .container

    h1 Заголовок страницы

    section.grid
      - var n = 0
      while n < 4
        .grid_item.card
          include components/tariff
          - n++
