-
  var booking = {
    "pickup": {
        "date": "24.12.2016",
        "time": "15:30"
    },
    "pax": 3,
    "reference": {
        "type": "Train number",
        "name": "FD 3011"
    },
    "comment": "Please do not send me a smoking driver. Thank you."
  }
