-
  var client = {
      "name": "Sergey Popov",
      "contact": {
          "phone": {
              "code": "+7",
              "number": "960-485-4437"
          },
          "email": "serg@gmail.com"
      }
  }
