-
  var country = {
      "title": "Taxi in Czech Republic: online-booking with a good price",
    	"hero": {
    		"title": "Find and book your taxi transfer in Czech Republic",
    		"lead": "Book online wherever you are"
    	},
      "name": "Czech Republic",
      "image": "czech-republic",
      "seo": {
          "title": "Transfer in Czech Republic",
          "content": "If you are planning to visit Czech Republic, but you haven’t decided yet what transport to choose to get to the airport quickly, welcome to our website: www.kiwitaxi.com! You can book a taxi in Czech Republic with a few clicks, without taking care of looking for a car at the airport, exchanging money to pay for your trip. Moreover, the price includes meeting at the airport, our driver will meet you even if there will be a flight delay. Although, we will be very grateful if you inform us in case of your late arrival."
      }
  }
