-
  var global = {
  	"links": {
  		"learnMore": "Learn more",
  		"showAll": "Show all",
  		"show": "Show",
  		"hide": "Hide",
  		"close": "Close"
  	},
  	"countries": [
  		"Abkhazia", "Andorra", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Brazil", "Bulgaria", "Cambodia", "Canada", "China", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Dominicana", "Ecuador", "Egypt", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Ireland", "Israel", "Italy", "Japan", "Jordan", "Kazakhstan", "Kyrgyzstan", "Laos", "Latvia", "Lithuania", "Luxembourg", "Macedonia", "Malaysia", "Malta", "Mexico", "Moldova", "Mongolia", "Montenegro", "Morocco", "Myanmar", "Netherlands", "New Zealand", "Zealand Norway", "Oman transferOman Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Romania", "Russia", "Serbia", "Singapore", "Slovakia", "Slovenia", "South Korea", "Korea Spain", "Sri Lanka", "Sweden", "Switzerland", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Tunisia", "Turkey", "UAE", "USA", "Ukraine", "United Kingdom", "Kingdom Uzbekistan", "Vietnam"
  	]
  }
