-
  var home = {
  	"title": "Book Airport Transfers in Advance at Affordable Prices",
  	"hero": {
  		"title": "Taxi transfers from airports and cities",
  		"lead": "Book online wherever you are"
  	},
  	"hiw": {
  		"title": "How it works",
  		"steps": [{
  			"name": "find-transfer",
  			"title": "Find a transfer",
  			"description": "You find a transfer to your airport or hotel"
  		}, {
  			"name": "book-online",
  			"title": "Book online",
  			"description": "Book transfer online"
  		}, {
  			"name": "meet-driver",
  			"title": "Meet the driver",
  			"description": "Meet the driver at the pick-up place"
  		}]
  	},
  	"feedback": {
  		"title": "Customer feedback"
  	},
  	"stats": {
  		"title": "Kiwitaxi by numbers",
  		"cases": [{
  			"name": "countries",
  			"number": 86,
  			"title": "countries"
  		}, {
  			"name": "airports",
  			"number": 522,
  			"title": "airports"
  		}, {
  			"name": "transfers",
  			"number": 302000,
  			"title": "completed transfers"
  		}, {
  			"name": "miles",
  			"number": 65000000,
  			"title": "miles passed"
  		}]
  	},
  	"seo": {
  		"title": "About Kiwitaxi",
  		"content": "Kiwitaxi is an international transfer booking company. We provide car transfers around the world since 2010. During this period we have provided our service to a lot of tourists and have gained considerable experience in private transfers. While preparing for a trip, besides flight tickets and hotel reservation, tourists should take care of how to get from the airport to the hotel in an unknown country. Take a taxi upon arrival or find a bus? It's possible, but there is a high risk to overpay, not to find the necessary route or even not to find the transfer. Your trip will be much easier if you book your transfer in advance. Kiwitaxi can help you with it. Select the route and car type, specify your contact details and make a prepayment. Your driver will be waiting for you at the specified time and you will travel comfortably to your destination."
  	}
  }
