-
  var menu = {
    "country": {
      "url": "country",
      "label": "Country",
      "title": "Country title"
    },
    "place": {
      "url": "place",
      "label": "Place",
      "title": "Place title"
    },
    "route": {
      "url": "route",
      "label": "Route",
      "title": "Route title"
    },
    "booking": {
      "url": "booking",
      "label": "Booking",
      "title": "Booking title"
    },
    "checkout": {
      "url": "checkout",
      "label": "Checkout",
      "title": "Checkout title"
    },
    "voucher": {
      "url": "voucher",
      "label": "Voucher",
      "title": "Voucher title"
    },
    "feedback": {
      "url": "feedback",
      "label": "Feedback",
      "title": "Feedback title"
    },
    "vehicle": {
      "url": "vehicle",
      "label": "Vehicle",
      "title": "Vehicle title"
    },
    "about": {
      "url": "about",
      "label": "About",
      "title": "About title"
    },
    "support": {
      "url": "support",
      "label": "Support",
      "title": "Support title"
    }
  }
