-
  var offer = {
    "price": 120,
    "discount": 10,
    "delay": 0,
    "return": false,
    "conditions": {
      "general": {
        "title": "Transfer to hotel",
        "details": "The transfer means a trip to any hotel or address within the location limits. You can specify the exact address or hotel name proceeding with the booking."
      },
      "capacity": {
        "title": "Passengers and luggage",
        "details": "Each vehicle class is provided with the information about maximim passenger and luggage capacity. Children are also considered passengers, childseats should be booked and paid separately. Transfer cost.The price is given per vehicle of certain class, it doesn’t depend on the number of passengers, transfer date or address within the location limits."
      },
      "booking": {
        "title": "Transfer booking",
        "details": "If you want to book a taxi, you should specify exact place, date and time of transfer, your contact details and make a prepayment. As soon as you do it, your car is booked and the driver will meet you."
      },
      "meeting": {
        "title": "Meeting with driver",
        "details": "At the appointed time and place, our driver will pick you up. He will be with your name sign. If necessary, he will call you or text you. You will also have his phone number."
      },
      "payment": {
        "title": "Booking payment",
        "details": "You can pay a certain amount (about 15%) during the booking process. The rest you should pay in cash to the driver upon the arrival to the drop-off point."
      }
    }
  }
