-
  var page = {
    "home": {
      "name": "kiwitaxi",
      "label": "KiwiTaxi",
      "title": "Kiwitaxi title"
    },
    "country": {
      "name": "country",
      "label": "Country",
      "title": "Country title"
    },
    "place": {
      "name": "place",
      "label": "Place",
      "title": "Place title"
    },
    "route": {
      "name": "route",
      "label": "Route",
      "title": "Route title"
    },
    "booking": {
      "name": "booking",
      "label": "Booking",
      "title": "Booking title"
    },
    "checkout": {
      "name": "checkout",
      "label": "Checkout",
      "title": "Checkout title"
    },
    "voucher": {
      "name": "voucher",
      "label": "Voucher",
      "title": "Voucher title"
    },
    "feedback": {
      "name": "feedback",
      "label": "Feedback",
      "title": "Feedback title"
    },
    "vehicle": {
      "name": "vehicle",
      "label": "Vehicle",
      "title": "Vehicle title"
    }
  }
