-
  var place = {
    "title": "Transfers from Prague Central train station",
    "name": "Prague Central train station",
    "image": "prague-central-train-station",
    "type": "train station",
    "code": "XYG",
    "city": "Prague",
    "address": "Wilsonova 8, 110 00 Praha 2, Czech Republic",
    "activity": {
  		"title": "Latest Prague Central train station transfers",
  	},
    "seo": {
        "title": "Individual Transfer in Prague Central train station",
        "content": "Prague Central train station Is active throughout the year. In spite of city transport in Prague Central train station, often you need use private shuttle with well organized system. You will leave behind all transfer diffculties in Prague Central train station with our website. When you arrive to Prague Central train station, if you had ordered taxi transfer, your car will be there and a chauffeur will be meeting you, no matter wherever you want to go to or come from in Prague Central train station."
    }
  }
