-
  var route = {
    "duration": 2,
    "distance": 50,
    "seo": {
        "title": "Taxi transfer from Prague Central train station to Dresden Central train station",
        "content": "Questing taxi transfer online from Prague Central train station to Dresden Central train station is really modern at KiwiTaxi. com.In many cases taxi is often the most juicy and favorable type of transport, that gives you the guarantee of delivery and comfort. Dresden Central train station is really nice place and if you can use private taxi transfer to Dresden Central train station you will enjoy many really perfect scenes."
    }
  }
