-
  var vehicle = {
    "name": "Premium",
    "image": "premium",
    "details": "First class car for maximum comfort.",
    "description": "All special routes can be requested through transfer request form on the website. We have provided our service to more than 100 thousand of tourists and have gained considerable experience in private transfers.",
    "cars": ["Mercedes S-class", "BMW 7 Series", "Audi A7", "Lexus GX"],
    "capacity": {
        "pax": 3,
        "bags": 3
    },
    "seo": {
        "title": "Private individual Transfer on Kiwitaxi.com",
        "content": "Kiwitaxi is an international airport transfers booking service. We perform transfers in all the most popular countries in the world. Most of the transfers can be booked online. All special routes can be requested through transfer request form on the website. We have provided our service to more than 100 thousand of tourists and have gained considerable experience in private transfers."
    }
  }
